
<div class="all_books">
    <% @available_books.each do |book| %>
        <div class="left book-container">
            <%= image_tag (book["image_url"]) %>
<!--
            <button class="button checkout <%= get_color(book['available']) %>"  data-bookid="<%=book['id']%>">
                <div class="title">Borrow</div>
                <div class="price"><%= book['available'] %>available</div>
            </button>
            -->
        <%= link_to 'Get this book', new_checkout_path(id: book['id']) %>
        </div>
        
    <% end %>
</div>

<script>
    $(document).ready(function(){
        $(".checkout").click(function(){
            var book_id = $(this).attr("data-bookid");
            location.href = '/checkouts/new?book_id='+ book_id;
        })
    })
</script>
