

<script>
    function show_tooltip(ele,author_id){
        tooltip.ajax(ele, 'http://localhost:3000/authors/'+author_id);
    }
</script>


<div class="col-sm-12" id="featured">   
    <div class="page-header text-muted">
        My Owned Books
    </div> 
</div>

<!--/top story-->
<% @user_books.each do |item|%>
    <div class="row">    
        
        <div class="col-sm-10" id="bookdetails">
            <h3><%= item.title %></h3>
            <h4><span class="label label-default " onmouseover="show_tooltip(this,<%= item.author_id %>)">
                <%= item.name %>
            </span></h4>
            <h4>
                <small class="text-muted">
                    <br>
                    <%= truncate item.description.html_safe, length: 300, :escape => false %>
                    <%= link_to 'read more', item.link %> 
                </small>
            </h4>
        </div>

        <div class="col-sm-2" id="bookimg">
            <%= link_to  item.link,  :class => "pull-right" do %>
                <%= image_tag (item["image_url"]) %>
            <% end %>
        </div> 
        <br>
    </div>
<% end %>    