<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function(){
        
        $( "#from_date" ).datepicker();
    })
</script>
<script src="https://js.braintreegateway.com/js/braintree-2.29.0.min.js"></script>
<script>
  braintree.setup("<%= @client_token %>", "custom", {
    id: "my-sample-form",
    hostedFields: {
      number: {
        selector: "#card-number"
      },
      cvv: {
        selector: "#cvv"
      },
      expirationDate: {
        selector: "#expiration-date"
      }
    }
  });
</script>

<div class="row">
  <%= render '/layouts/partials/sidebar' %>
    
  <!-- main -->
  <div class="column col-sm-9" id="main">
    <div class="padding">
      <div class="full col-sm-9" id="content">
        
        <div class="col-sm-6 col-sm-offset-3 form-box">
        	<form role="form" action="" id="my-sample-form" method="post" class="registration-form">
        		<fieldset>
              	<div class="form-top">
              		<div class="form-top-left">
              			<h3>Step 1 / 3</h3>
                  		<p>Please provide the subscription details:</p>
              		</div>
              		<div class="form-top-right">
              			<i class="fa fa-user"></i>
              		</div>
                  </div>
                  <div class="form-bottom">
              	<div class="form-group">
              		<label class="sr-only" for="form-first-name">From Date</label>
                  	<input type="text" name="from_date" placeholder="Subscription Start date..." class="form-first-name form-control" id="from_date">
                  </div>
                  <div class="form-group" style="float: left;">
                      <% @subscription_types.each do |st| %>
                        <input id="option" type="radio" name="field" value="option">
                              <label for="option"><span><span></span></span>
                              $ <%= st.cost %>(<%= st.days %> days)
                              </label><br>
                        
                      <% end %>
                  </div>
                  <div style="float: left;padding-left: 80px;">
                      <%= image_tag (@book.image_url) %>
                   </div>
                   <div style="clear: both;"></div>
                  
                  <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>
            
            <fieldset>
              	<div class="form-top">
              		<div class="form-top-left">
              			<h3>Step 2 / 3</h3>
                  		<p>Provide your card details:</p>
              		</div>
              		<div class="form-top-right">
              			<i class="fa fa-key"></i>
              		</div>
                  </div>
                  <div class="form-bottom">
                  <div class="form-group">
                  	<label class="sr-only" for="form-email">Card Number</label>
                  	<input type="text" name="form-email" placeholder="" class="form-email form-control" id="card-number">
                  	<!--<div id="card-number"></div>-->
                  </div>
                  <div class="form-group">
              		<label class="sr-only" for="form-password">CVV</label>
                  	<input type="text" name="form-password" placeholder="" class="form-password form-control" id="cvv">
                  	<!--<div id="cvv"></div>-->
                  </div>
                  <div class="form-group">
                  	<label class="sr-only" for="form-repeat-password">Expiration Date</label>
                  	<input type="text" name="form-repeat-password" placeholder="" 
                  				class="form-repeat-password form-control" id="expiration-date">
                  	<!--<div id="expiration-date"></div>-->
                  </div>
                  <button type="button" class="btn btn-previous">Previous</button>
                  <button type="button" class="btn btn-next">Next</button>
              </div>
            </fieldset>
            
            <fieldset>
              	<div class="form-top">
              		<div class="form-top-left">
              			<h3>Step 3 / 3</h3>
                  		<p>Social media profiles:</p>
              		</div>
              		<div class="form-top-right">
              			<i class="fa fa-twitter"></i>
              		</div>
                  </div>
                  <div class="form-bottom">
              	<div class="form-group">
              		<label class="sr-only" for="form-facebook">Facebook</label>
                  	<input type="text" name="form-facebook" placeholder="Facebook..." class="form-facebook form-control" id="form-facebook">
                  </div>
                  <div class="form-group">
                  	<label class="sr-only" for="form-twitter">Twitter</label>
                  	<input type="text" name="form-twitter" placeholder="Twitter..." class="form-twitter form-control" id="form-twitter">
                  </div>
                  <div class="form-group">
                  	<label class="sr-only" for="form-google-plus">Google plus</label>
                  	<input type="text" name="form-google-plus" placeholder="Google plus..." class="form-google-plus form-control" id="form-google-plus">
                  </div>
                  <button type="button" class="btn btn-previous">Previous</button>
                  <button type="button" class="btn">Sign me up!</button>
              </div>
            </fieldset>
          
          </form>
	     </div>
      </div><!-- /col-9 -->
    </div><!-- /padding -->
  </div>
  <!-- /main -->

</div>



